#pagination 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#pageButtons
{
    width: 300px; 
    text-align: center;
}
#pageButtons button
{
    margin-top: 10px;
    width: 50px; 
    outline: white;
    border-color: white; 
    background-color: black;
    color: white;

}
#pageButtons button:hover
{
    background-color: #9c27b0;

}
#prevButton button
{
    margin-top: 10px;
    outline: white;
    border-color: white; 
    background-color: black;
    color: white;
}
#nextButton button
{
    margin-top: 10px;
    outline: white;
    border-color: white; 
    background-color: black;
    color: white;
}
#nextButton button:hover, #prevButton button:hover
{
    background-color: #9c27b0;
}

