/* Style the search bar */
  .search-container 
  {
    display: flex;
  } 
  .search-container form 
  {
    display: flex;
  }

  .search-container input[type=text] 
  {
    padding: 6px;
    font-size: 17px;
    border: 1px solid #9c27b0;
  }

  .search-container button 
  {
    width: 50px;
    padding: 6px;
    margin-left: 10px;
    background: white;
    color: black;
    font-size: 17px;
    border: 1px solid #9c27b0;
    cursor: pointer;
  }

  .search-container button:hover 
  {
    background: #9c27b0;
    color:white;
  }