    <!-- HTML for the search bar -->
    <div class="search-container">
        <form action="/search">
            <input type="text" name="q" placeholder="Titre article..." required>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>